<p id="notice"><%= notice %></p>

<%= search_form_for @q, remote: true, id: 'search_category' do |f| %>
  <%= f.select( :sorts, { '価格の安い順': 'price asc', '価格の高い順': 'price desc', '出品の古い順': 'updated_at asc', '出品の新しい順': 'updated_at desc' }, {}, { onchange: 'this.form.submit()'}) %>
  <%= f.label :category_id_cont, 'カテゴリー' %>
  <%= f.collection_select :category_id_eq, @categories, :id, :name, {},  { onchange: 'this.form.submit()'}  %>
  <%= f.submit '', :style => 'display: none;' %>
<% end %>

<h1>Products</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Description</th>
      <th>Price</th>
      <th>Category</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @products.each do |product| %>
      <tr>
        <td><%= product.name %></td>
        <td><%= product.description %></td>
        <td><%= product.price %></td>
        <td><%= product.category.name  %></td>
        <td><%= link_to 'Show', product %></td>
        <td><%= link_to 'Edit', edit_product_path(product) %></td>
        <td><%= link_to 'Destroy', product, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= paginate @products %>

<%= link_to 'New Product', new_product_path %>
